@font-face {
	font-family: 'alef';
	src: url('../fonts/Alef-regular.woff') format('woff');
}
@font-face {
	font-family: 'alef-bold';
	src: url('/fonts/Alef-bold.woff') format('woff');
}
body {font-family: alef,Arial;}
