body {
  max-width: 1024px;
  margin: auto;
}
nav {
  position: relative; /* Really needed? */
  height: 50px;
  width: 100%;
}
nav a:visited, a:link, a:active
{
    text-decoration: none;
    color: inherit;
}
nav a:hover, nav svg:hover{background-color: rgba(0, 0, 0, 0.3);}

/*nav p {
  line-height: 1;
  float: left;
}*/
h2, p {padding: 12px;}
section {margin: 0px;padding:0px;}
nav svg {
  width: 42px;
  height: 48px; /* Make this as the height of the `nav` element, with 1 px border this is calculated to 50px-2*1px=48px */
  padding: 1px;
  margin: 0px;
  float: right;
}
nav svg,
input {
  display: none;
}
ul {
  list-style-type: none; /* To remove bullets */
  padding: 0 20px 0 0;
}
nav ul {
  display: flex; /* The `li`s are in line and order is not reversed */
  float: left;
}
nav li {
  padding: 0 20px;
}
main *{display: block; margin: 0;} /*To remove the spacing between the banner image and the text following it */
.games-list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.games-list section {
  padding: 10px 10px;
  /*margin: 0px 8px;*/
}
.games-list img {display:block; margin: auto;}
.games-list a {display:flex; justify-content: center;}
section h3{text-align: center;}
section img{/* To Do: insert code to center the image inside the cell*/}
/*main img,main section {
  grid-column: span 2;
}*/
footer {display:grid;
  grid-template-columns: repeat(2,1fr);
  text-align:center;}
footer p:first-child{
  grid-column: span 2;
  line-height: 2;
  }
footer img {padding:3px 5px;}
/* Rules for small devices, screen width smaller than 768px */
@media (max-width: 768px) {
  nav {
    text-align: center;
    /* to center the text inside the nav bar */
  }
  nav p {
    display: inline-block;
    float: none;
  }
  nav svg {
    display: inline;
    width: 42px;
    height: 48px; /* Make this as the height of the `nav` element, with 1 px border this is calculated to 50px-2*1px=48px */
    padding: 1px;
    margin: 0px;
    float: right;
  }
  nav svg:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  nav ul {
    display: block;
    width: 60%;
    background: lightblue;
    position: absolute;
    top: 34px;
    height: 0px;
    overflow: hidden;
    transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
  }
  input[type="checkbox"]:checked ~ ul {
    height: 260px;
    overflow-y: scroll;
  }
  input {
    display: none;
  }
  nav li {
    display: block;
    text-align: right;
    padding: 20px 20px; /* For some reason in final small file there was no need for the second 10px padding. Try to correct this.*/
  }
  .games-list {
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}
